.announcementContainer {
  background-color: teal;
  display: flex;
  height: 30px;
  align-items: center;
  justify-content: center;
}
.announcement {
  font-size: 14px;
  font-weight: 500;
  color: white;
}
